#container{
    width: 100vw;
    height: 100vh;
    margin: -8px;
    background: url(../img/images.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

/* Parte superior de bing header */
#header{
    display: flex;
}

.amenu{
    padding-left: 50px;
    margin-top: 5px;
}

#menuicon ,#menuicon2, #menuicon3{
    color: white;
    margin-left: 50px;
    vertical-align: bottom;
    font-size: xx-large;
    cursor: pointer;
    vertical-align: middle;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    font-weight: bold;
}

#menuicon3{
    border: 2px solid rgba(255, 255, 255, 0.397);
    border-radius: 50%;
    margin-left: 10px;
    margin-top: -5px;
    transform: rotate(180deg);
}

/* Parte izquierda del header */
.headerleft{
    width: 20vw;
    height: 5vh;
    margin: 5px;
    margin-left: 70px;
    display: flex;
}

h2{
    align-self: center;
    margin-left: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Parte central del header  */
.headermid{
    width: 40vw;
    margin-top: 15px;
}

/* Parte derecha del header  */
.headerright{
    width: 36vw;
    display: flex;
    margin-top: 15px;
}

.fotoperfil{
    width: 32px;
    height: 32px;
    margin-left: 8px;
    cursor: pointer;
}

/* Main del bing */
#main{
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr;
}

.barrabuscador{
    width: 800px;
    height: 70px;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    text-align: right;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 5px 0px black;
}

#buscador{
    margin-top: 10px;
    max-width: 600px;
    max-height: 44px;
    min-width: 600px;
    min-height: 44px;
    border: 1px solid white;
}

#camara, #icono{
    font-size: 40px;
    color: rgb(48, 102, 146);
    cursor: pointer;
    font-weight: bold;
}

#camara{
    transform: rotate(45deg);
}

/* ---------------------------- */
/* Iconos del carusel */
#iconocarusel{
    display: flex;
    width: 100vw;
    height: 5vh;
}
/* izquierda */
.iconocaruselleft{
    width: 50vw;
    margin-left: 50px;
}
#flecha{
    margin-top: 7.5px;
}

.flecha{
    width: 40px;
    height: 40px;
    transform: rotate(-90deg);
    margin: 5px;
    text-align: center;
    border: 1px solid black;
    background-color: rgba(34,34,34,.9);
    border-radius: 10px;
    color: gray;
    cursor: pointer;
    position: relative;
}

/* derecha */
.iconocaruselright{
    width: 50vw;
    margin-right: 50px;
    display: flex;
    justify-content: right;
}

.info{
    width: 80px;
    height: 40px;
    margin: 8px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    display: flex;
    color: white;
    background-color: rgba(34,34,34,.9);
}

.ainfo{
    padding-left: 10px;
}

.flechainfo{ 
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-left: -5px;
    margin-top: 7.5px;
    border: 1px solid black;
    border-radius: 10px;
    color: gray;
    background-color: rgba(34,34,34,.9);
    cursor: pointer;
    position: relative;
    text-align: center;
}

#flecha:hover{
    color: white;
}
/* ---------------------------- */
/* Carusel de imagenes */
#carusel{
    display: flex;
    margin-left: 50px;
}

.imagencarusel, .img {
    width: 300px;
    margin: 10px;
    margin-left: 0;
    display: block;
    position: relative;		
    z-index: 0;
}

.imagencarusel p {
    width: 95%;
    height: 80%;
    padding-top: 15px;
    padding-left: 15px;
    position: absolute;
    color: white;
    background: linear-gradient(transparent 0%, rgb(36, 36, 36) 100%);
    z-index: 1;
}

.imagencarusel h3{
    width: 100%;
    height: 90%;
    margin-top: 60px;
    padding-left: 15px;
    position: absolute;
    color: white;
    z-index: 1;
}

/* ---------------------------- */
/* Parte inferior de Bing footer */
#footer{
    width: 100vw;
    height: 8.6vh;
    margin-top: -17px;
    display: flex;
    background-color: rgb(58, 58, 58);
    align-items: center;
}

.footerleft{
    width: 80vw;
    margin-left: 50px;
}

.footerright{
    width: 20vw;
    text-align: right;
    margin-right: 50px;
}

.afooter{
    padding: 20px;
    color: grey;
}